footer{
    background-color: khaki;
    margin-top: 60px;
    img{
        width: 50px;
        div{
            a{
                img{
                    width: 50px;
                }
            }
        }
    }
}