header{
    background-color: $color-principal;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    a{
        img{
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
        }
        h1{
            font-size: nth (size , 3);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 400;

        }

    }
    nav{
        ul{
            list-style: none;
            display: flex;
            li{
                margin: 2px;
                a{
                    &:hover{
                        color: $color-terciario;
                        text-decoration: none ;
                    }
                }
            }
        }
    }
}