/* INDEX */
.hero{
    text-align: center;
color: white;
height: 90vh;
background-image: url("../img/banner.png");
background-position: center;
background-repeat: center;
background-size: cover;
background-attachment: fixed;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
